# <center> <b> FINAL PROJECT

Perform some operations on dataset "HR Analytics Data"\
Member:\
Đào Minh Thuấn\
Lương Phương Thúy
+ Using pandas to clean dataset.
+ Dataset: https://www.kaggle.com/datasets/thuandao/clustered-hr-data

In [1]:
# Import data
import pandas as pd
import seaborn as sns

In [ ]:
# Load data frame
df = pd.read_csv("HR_Analytics_Data.csv")

     Age\tAttrition\tBusinessTravel\tDailyRate\tDepartment\tDistanceFromHome\tEducation\tEducationField\tEmployeeCount\tEmployeeNumber\tEnvironmentSatisfaction\tGender\tHourlyRate\tJobInvolvement\tJobLevel\tJobRole\tJobSatisfaction\tMaritalStatus\tMonthlyIncome\tMonthlyRate\tNumCompaniesWorked\tOver18\tOverTime\tPercentSalaryHike\tPerformanceRating\tRelationshipSatisfaction\tStandardHours\tStockOptionLevel\tTotalWorkingYears\tTrainingTimesLastYear\tWorkLifeBalance\tYearsAtCompany\tYearsInCurrentRole\tYearsSinceLastPromotion\tYearsWithCurrManager
0     41\tYes\tTravel_Rarely\t1102\tSales\t1\t2\tLif...
1     49\tNo\tTravel_Frequently\t279\tResearch & Dev...
2     37\tYes\tTravel_Rarely\t1373\tResearch & Devel...
3     33\tNo\tTravel_Frequently\t1392\tResearch & De...
4     27\tNo\tTravel_Rarely\t591\tResearch & Develop...
...                                                 ...
1465  36\tNo\tTravel_Frequently\t884\tResearch & Dev...
1466  39\tNo\tTravel_Rarely\t613\tResearch & Develop...
1467  27\tNo\tTravel_Rarely\t155\tResearch & Develop...
1468  49\tNo\tTravel_Frequently\t1023\tSales\t2\t3\t...
1469  34\tNo\tTravel_Rarely\t628\tResearch & Develop...

[1470 rows x 1 columns]

In [ ]:
# Perform split column